<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog Haber</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/blog">Blog</a></li>
                {% if current_user %}
                <li><a href="/profile/{{ current_user['username'] }}">Profile</a></li>
                <li><a href="/logout">Çıkış Yap</a></li>
                {% else %}
                <li><a href="/">Giriş Yap</a></li>
                <li><a href="/register">Üye Ol<Ol></Ol></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


