{% extends "base.html" %}

{% block content %}
<div class="logout-container">
    <a href="/logout" class="logout-button">Logout</a>
</div>
<h1>Writing</h1>
<p>{{ articles|length }} Articles</p>
<table class="articles-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Read Time</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.read_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



