{% extends "base.html" %}

{% block content %}
<h2 class="form-title" style="text-align: center;">Üye Ol</h2>
<form method="POST" action="/register">
    <label for="username">Kullanıcı Adı:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Şifre:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Üye Ol</button>
</form>
<a href="/">Giriş Yap</a>
{% endblock %}


